* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.backround {
  height: 100vh;
  width: 100%;
  background-image: url(bisnis3.webp);
  background-position: center;
  background-size: cover;
  padding-right: 3%;
  padding-left: 5%;
  box-sizing: border-box;
  position: relative;
}

.header {
  width: 100%;
  height: 15vh;
  display: flex; 
  align-items: center;
}

.logo {
  width: 180px;
  margin-top: 10px;
}


  a{
  color: #fffbfb;
  text-decoration: none;
  text-shadow: 0px 2px 0px #000000;
}

.content {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background: rgba(0,0,0,.15);
  padding:0px;
  border-radius: 20px;
  margin-top: 20px;
}

.content .text h1 {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 80px;
  line-height: 1.5em;
  letter-spacing: .1em;
  font-size: 40px;
  color: #fff;;
  text-shadow: 5px 10px 5px black;

}
.content .text p {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: .1em;
  margin-top: 50px;
  color: #e7e3e3;
  text-shadow: 0px 2px 0px black;

}

.gif {
  padding: 3% 13% 0%;
  
}

.ananta {
  padding: 0% 15% 0% 0%;
  height: 70vh;
}

.backround2 {
  height: 100vh;
  width: 100%;
  background-image: url(bisnis2.webp);
  background-position: center;
  background-size: cover;
  padding-right: 3%;
  padding-left: 5%;
  box-sizing: border-box;
  position: relative;
}

.btn {
  box-sizing: border-box;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  align-self: center;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1;
  margin: 10px;
  padding: 12px 20px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.btn:hover, .btn:focus {
  color: #fff;
  outline: 0;
}
.fourth {
  border-color: #ffffff;
  color: #fff;
  background-image: linear-gradient(45deg, #00424f 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: background 300ms ease-in-out;
}
.fourth:hover {
  background-position: 0;
}


#btn1 {
  text-transform: uppercase;
  background: linear-gradient(to bottom, #ffffff 3%, #232323 100%);
  border-radius: 30px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 700;
  padding: 12px 20px;
  margin: 3%;
  text-shadow: 0px 1px 0px #000000;
}

#btn2 {
  text-transform: uppercase;
  background: linear-gradient(to bottom, #ffffff 3%, #013e6c 90%);
  border-radius: 30px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 700;
  padding: 12px 20px;
  margin: -2%;
  text-shadow: 0px 1px 0px #000000;
}